body {
    font-family: Arial, sans-serif;
    margin: 20px;
  }
  
  header {
    background-color: #a77d7d;
    padding: 20px;
    text-align: center;
  }
  
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  section {

    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  input[type="text"], textarea {
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
  }
  
  button[type="button"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button[type="button"]:hover {
    background-color: #3e8e41;
  }
  
  #entryHolder {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #date, #temp, #content {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
  }